body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  background-color: #dddddd;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-evenly;
}

.header {
  background-color: #6aa84f;
  width: 100%;
  height: 50%;
  text-align: center;
  margin-bottom: 15px;
}

.nav {
  background-color: #6fa8dc;
  height: 24em;
  width: 23em;
  text-align: center;
  align-self: flex-start;
}

.main {
  background-color: #e06666;
  height: 30em;
  width: 65em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  text-align: center;
}

.sub {
  background-color: #ffd966;
  height: 22em;
  width: 20em;
  text-align: center;
  margin-top: 15px;
}

.ad {
  background-color: #b4a7d6;
  align-self: flex-end;
  width: 65em;
  margin: 15px;
  text-align: center;
}